<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ListenIP" value="172.16.10.20" />
    <!--<add key="MySql_ConnStr" value="Server=172.16.10.19;Database=qcweb;Uid=root;Pwd=TestBicon@123;" />-->
    <add key="MySql_ConnStr" value="Server=172.16.10.20;port=3308;Database=qcweb;Uid=root;Pwd=root;" />
    <!--
    访问权限基本设置：
    SessionRequiedName:设置不能为空的会话名，例如asso_id，多个用;隔开
    SessionRequiedPath:设置应用的目录或文件，以根目录开始配置，例如~/、~/admin、~/admin/a.ds，多个用;隔开
    SessionRequiedExcluded:设置要排除的目录或文件，例如~/admin/a/、~/login.ds，多个用;隔开
    SessionRequiedAlertInfo:设置验证不通过时的提示信息，例如'请登录'
    SessionRequiedURL:设置验证不通过时的跳转地址，例如/login.ds，多个用;隔开
    -->
    <add key="SystemName" value="" />
    <add key="SystemTitle" value="" />
    <add key="SessionRequiedName" value="" />
    <add key="SessionRequiedPath" value="" />
    <add key="SessionRequiedExcluded" value="" />
    <add key="SessionRequiedAlertInfo" value="" />
    <add key="SessionRequiedURL" value="" />
    <add key="ConnectionString" value="" />
    <add key="LogLevel" value="3" />
    <!--3、Info,Debug,Error.2、Debug,Error.1、Error.0、none-->
    <add key="LogOutputPath" value="" />
    <!--emptyfile is a utf-8 empty file-->
    <add key="emptyfile" value="" />
    <!--Protected files and directories will not be deleted while publishing-->
    <add key="ProtectedFiles" value="" />
    <add key="ProtectedDirectories" value="" />
    <!--You can choose .ds or .cs,only advanced client can choose any other Extended name-->
    <add key="ExtName" value="" />
    <!--Server Register Number-->
    <!--Trial Version : value="Trial Version"-->
    <add key="RegisterNumber" value="" />
    <!--Site Register Key:Value is Bound to a Special Web Site-->
    <add key="RegisterSiteKey" value="" />
    <!--For server.....-->
    <!--Don't change.....-->
    <add key="ServerName" value="" />
    <add key="WhoCreateThis" value="" />
    <!--64位机器或office2010以上用ACE驱动，XP系统或更旧的office建议使用MDAC驱动-->
    <add key="OLEDBProvider" value="" />
    <!--add key="OLEDBProvider" value="Microsoft.Jet.OLEDB.4.0" /-->
    <add key="FormDataMode" value="true" />
    <!--FTFrame Project Paras Start-->
    <add key="MonitUserTimer" value="300" />
    <add key="MonitNewMessageTimer" value="10" />
    <add key="MonitRemindIntervalMinute" value="500" />
    <!--FTFrame Project Paras End-->
  </appSettings>
</configuration>